body {
    background-color:#202020
}

p{
    color: #202020;
}
a{
    color: #8B0000;
}
table{
    margin: auto;
    width: 800px;
    background-color: #FFD700;
    border: 2px solid transparent;

}
td{
    padding: 10px;
}
#elsocella {
    width: 150px;
    vertical-align: top;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
hr{
    width: 50%;
}
li{
    list-style-type: circle;
}
#tabla{
    text-align: center;
}
#szovegkep{
    float: left;
    margin: 10px;

}
#dartboard{
    float: right;
    margin-left: 10px;
}
.ureskor{
    list-style-type: circle;
}